<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bowling Scoreboard</title>
    <link th:href="@{/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/icon.png}" rel="icon">
</head>
<body>

<div class="container text-center">
    <div class="mt-5 mb-5"><h1>Bowling Scoreboard</h1></div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="col-lg-24" colspan="2">1</th>
            <th class="col-lg-24" colspan="2">2</th>
            <th class="col-lg-24" colspan="2">3</th>
            <th class="col-lg-24" colspan="2">4</th>
            <th class="col-lg-24" colspan="2">5</th>
            <th class="col-lg-24" colspan="2">6</th>
            <th class="col-lg-24" colspan="2">7</th>
            <th class="col-lg-24" colspan="2">8</th>
            <th class="col-lg-24" colspan="2">9</th>
            <th class="col-lg-24" colspan="3">10</th>
            <th class="col-lg-24" colspan="3">Score</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th:block th:each="frame : ${regularFrames}">
                <th class="col-lg-24" th:text="${frame.firstRoll.isEmpty() ? '&nbsp;' : frame.firstRoll}">&nbsp;</th>
                <th class="col-lg-24" th:text="${frame.secondRoll.isEmpty() ? '&nbsp;' : frame.secondRoll}">&nbsp;</th>
            </th:block>

            <th class="col-lg-24" th:text="${lastFrame == null ? '&nbsp;' : lastFrame.firstRoll}">&nbsp;</th>
            <th class="col-lg-24" th:text="${lastFrame == null ? '&nbsp;' : lastFrame.secondRoll}">&nbsp;</th>
            <th class="col-lg-24" th:text="${lastFrame == null ? '&nbsp;' : lastFrame.thirdRoll}">&nbsp;</th>
            <th class="col-lg-24" rowspan="2" colspan="3" style="vertical-align:middle;text-align:center;" th:text="${fullScore}">0</th>
        </tr>
        <tr>
            <th class="col-lg-24" th:each="frame:${regularFrames}" th:text="${frame.score == -1 ? '&nbsp;' : frame.score}" colspan="2">&nbsp;</th>

            <th class="col-lg-24"  th:text="${lastFrame == null || lastFrame.score == -1 ? '&nbsp;' : lastFrame.score}" colspan="3">&nbsp;</th>
        </tr>
        </tbody>
    </table>
    <br>

    <form class="form-control align-content-center text-center mx-auto" action="#" th:action="@{|/bowling/${gameId}|}"
          method="post" th:if="${!isFinished}">
        <label for="score">Enter number of knocked pins.</label>
        <br><br>
        <input id="score" class="input-group" type="text" th:name="score">
        <br>
        <button class="btn btn-secondary" type="submit">Submit</button>
    </form>
    <br>

    <div th:if="${isFinished == true}" class="mx-auto alert alert-success" style="width: 400px">
        <h2>Game Finished</h2>
        <h2 th:text="'Your score: ' + ${fullScore}"></h2>
    </div>

    <form class="align-content-center text-center mx-auto" action="#" th:action="@{/bowling/new}"
          method="post">
        <button class="btn btn-secondary" type="submit">Start new game</button>
    </form>
</div>

</body>
</html>